:root {
  --primary-purple: #7264d6;
  --primary-black: #212832;
  --primary-green: #439f90;
  --primary-red: #da6464;
  --primary-blue: #4ab5e3;
  --primary-gray: #6a6e78;
  --footer-background: #fafbff;
  --text-color: #696d76;

  --primary-font: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
/* ============================ Common ============================  */
a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-heading {
  color: var(--primary-black);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.section-desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

.section-sub-title {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 1.6rem;
  color: #696d77;
  line-height: 1.75;
}

.section-sub-title--line {
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
}

.btn {
  --height: 58px;

  display: inline-block;
  outline: none;
  padding: 0;
  border: none;
  border-radius: 8px;
  min-width: 149px;
  height: var(--height);
  background: var(--primary-black);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: var(--height);
  text-align: center;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.line-clamp.line-4 {
  --line-clamp: 4;
}

.line-clamp.line-5 {
  --line-clamp: 5;
}

.line-clamp.line-6 {
  --line-clamp: 6;
}

/* ============================ Header ============================  */
.header {
  position: sticky;
  top: -34px;
  z-index: 100;
  padding: 42px 0 8px;
  background: #fff;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo-block {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.header__inner .logo-block {
  margin-right: 62.32px;
}

.navbar__list {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.navbar__link {
  padding: 4px 8px;
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.75;
  transition: all 0.2s;
}

.navbar__link:hover {
  color: var(--primary-black);
  text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active {
  position: relative;
}

.navbar__item--active .navbar__link {
  color: var(--primary-black);
  font-weight: 600;
}

.navbar__item--active::before {
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  content: "";
  height: 1px;
  background: var(--primary-purple);
}

.header__cta-block {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.header__sign-up {
  border-radius: 6px;
  --height: 52px;
  min-width: 113px;
}

.header__log-in {
  border-bottom: 2px solid transparent;
  color: var(--primary-black);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  transition: all 0.2s;
}

.header__log-in:hover {
  border-bottom-color: currentColor;
}
/* ============================ Hero ============================  */
.hero {
  margin-top: 76px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  margin-top: 12px;
  width: 500px;
  color: var(--primary-black);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero__title--highlighter {
  color: var(--primary-purple);
}

.hero__desc {
  width: 540px;
  margin-top: 20px;
}

.hero__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 8px 23px 23px;
  margin-top: 40px;
  border-radius: 8px;
  width: 540px;
  height: 74px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px #00000012;
}

.hero__input {
  border: none;
  outline: none;
  width: 60%;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}

.hero__input::placeholder {
  color: var(--text-color);
}

.hero__submit {
  background: var(--primary-purple);
}

.hero__form:has(:invalid) .hero__submit {
  opacity: 0.5;
  pointer-events: none;
}

.hero__ps {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.714;
}

.hero__media {
  position: relative;
  padding: 0 174px 0 100px;
}

.hero-phone {
  padding: 40px 11px 30px;
  position: relative;
  border: 12px solid #212832;
  border-radius: 40px;
  width: 296px;
  height: 562px;
}

.hero-phone__notch {
  position: absolute;
  top: -12px;
  left: 64px;
  right: 64px;
  height: 36px;
  border-radius: 0 0 18px 18px;
  background: #3c2f60;
}

.hero-card {
  position: relative;
  padding: 16px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background: var(--primary-purple);
  overflow: hidden;
  z-index: 2;
}

.hero-card__row {
  display: flex;
  align-items: center;
}

.hero-card__row--top {
  justify-content: space-between;
}

.hero-card__balance--text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.36px;
}

.hero-card__balance {
  margin-top: 2px;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.36;
}

.hero-card__row--bottom {
  position: relative;
  z-index: 1;
  margin-top: 32px;
  column-gap: 12px;
}

.hero-card__column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.hero-card__desc--top {
  color: #fff;
  font-size: 1rem;
  line-height: 1.36;
}

.hero-card__desc--bottom {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.36;
}

.hero-card__decor {
  position: absolute;
}

.hero-card__decor.decor-1 {
  top: 0;
  left: 0;
}

.hero-card__decor.decor-2 {
  bottom: 0;
  right: 0;
}

.hero-phone__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-phone__row.transections {
  margin-top: 24px;
}

.hero-phone__transections {
  color: #31456a;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.375;
}

.hero-phone__transections-icon {
  cursor: pointer;
}

.hero-phone__list {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.hero-phone__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-phone__item--left {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.hero-phone__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #4ab5e31a;
}

.hero-phone__item-icon.icon-1 {
  background: #4ab5e31a;
}

.hero-phone__item-icon.icon-2 {
  background: #da64641a;
}

.hero-phone__item-icon.icon-3 {
  background: #439f901a;
}

.hero-phone__item-icon.icon-4 {
  background: #7264d61a;
}

.hero-phone__item-content-block {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.hero-phone__item-content,
.hero-phone__item-balance {
  color: var(--primary-black);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

.hero-phone__item-source,
.hero-phone__item-date {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1;
}

.hero-phone__item--right {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: flex-end;
}

.hero-funds {
  position: absolute;
  right: -88px;
  bottom: 49px;
  display: flex;
  align-items: center;
  column-gap: 11px;
  padding: 20px 15px;
  border-radius: 10px;
  background: #439f90;
  width: 124px;
  height: 68px;
}

.hero-funds__content-block {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.hero-funds__balance {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hero-funds__title {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1;
}

.hero-deposit {
  position: absolute;
  z-index: 2;
  top: 115px;
  left: 0;
  padding: 14px 10px;
  border-radius: 6px;
  width: 174px;
  height: 46px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px #00000012;
}

.hero-deposit__inner {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.hero-deposit__title {
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hero-deposit__balance {
  margin-left: auto;
  color: var(--primary-blue);
  font-size: 1.4rem;
  line-height: 1;
}

.interest {
  position: absolute;
  right: 0;
  bottom: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background: #da6464;
}

.interest__text {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

.interest__text--big {
  display: block;
  font-size: 4.4rem;
  font-weight: 600;
}

/* ============================ Guide ============================  */
.guide {
  margin-top: 60px;
  padding-top: 100px;
}

.guide__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.guide-media {
  position: relative;
  padding: 0 93px 0 7px;
}

.guide__img-block {
  display: flex;
  align-items: flex-end;
  width: 470px;
  height: 619px;
}

.guide__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.guide__img--bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.guide__icon {
  position: absolute;
  top: 76px;
  right: 162px;
}

.guide-congratulations {
  position: absolute;
  right: 0;
  bottom: 96px;
  width: 226px;
  padding: 15px 30px 15px 15px;
  border-radius: 8px;
  height: 70px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px #00000012;
}

.guide-congratulations__inner {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.guide-congratulations__icon-block,
.guide-congratulations__icon-block--smaller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide-congratulations__icon-block {
  border-radius: 6px;
  width: 40px;
  height: 40px;
  background: #4ab5e3;
}

.guide-congratulations__icon-block--smaller {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
}

.guide-congratulations__text-block {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.guide-congratulations__text--top {
  color: var(--primary-black);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.21;
}

.guide-congratulations__text--bottom {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.25;
}

.guide__heading {
  margin-top: 12px;
}

.guide__list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.guide-item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.guide-item__heading {
  width: 470px;
  color: var(--primary-black);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.46;
}

.guide-item__desc {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.75;
}

/* ============================ Feature (1) ============================  */
.feature {
  margin-top: 60px;
  padding-top: 100px;
}

.feature__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature__heading {
  margin-top: 12px;
  width: 470px;
}

.feature__desc {
  margin-top: 20px;
  width: 470px;
}

.feature__list {
  margin: 28px 0 38px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.feature-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.feature-item__dot {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: var(--primary-purple);
}

.feature-item__content {
  color: var(--primary-black);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.feature-media.feature-1 {
  position: relative;
  padding: 48px 88px 55px 0;
}

.feature-card {
  position: relative;
  padding: 38px;
  width: 482px;
  height: 322px;
  border-radius: 20px;
  background: var(--primary-purple);
  overflow: hidden;
  z-index: 2;
}

.feature-card__row {
  display: flex;
}

.feature-card__row--top {
  justify-content: space-between;
}

.feature-card__balance--text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 2.4rem;
  line-height: 1.375;
}

.feature-card__balance {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.375;
}

.feature-card__row--bottom {
  position: relative;
  z-index: 1;
  margin-top: 98px;
  column-gap: 26px;
  align-items: center;
}

.feature-card__column {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.feature-card__desc--top {
  color: #fff;
  font-size: 2rem;
  line-height: 1.36;
}

.feature-card__desc--top.name {
  font-weight: 600;
  font-size: 2.2rem;
}

.feature-card__desc--bottom {
  color: #fff;
  font-size: 2rem;
  line-height: 1.36;
}

.feature-card__desc--bottom.date {
  font-size: 2.2rem;
  font-weight: 600;
}

.feature-card__decor {
  position: absolute;
}

.feature-card__decor.decor-1 {
  top: 0;
  left: 0;
}

.feature-card__decor.decor-2 {
  bottom: 0;
  right: 0;
}

.feature-transaction {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 23px 13px;
  border-radius: 12px;
  width: 276px;
  height: 86px;
  background: #fff;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0px 14px 38px 0px #00000012;
}

.feature-transaction__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-transaction__item--left {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.feature-transaction__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  background: #da64641a;
}

.feature-transaction__item-content-block {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.feature-transaction__item-source {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.2;
}

.feature-transaction__item-content {
  color: var(--primary-black);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.25;
}

.feature-transaction__item--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 3px;
}

.feature-transaction__item-balance {
  color: var(--primary-black);
  font-size: 1.6rem;
  line-height: 1.25;
}

.feature-transaction__item-date {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.2;
}

.feature-income {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 15px;
  border-radius: 16px;
  width: 120px;
  height: 120px;
  background: #439f90;
}

.feature-income__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  background: #fff;
}

.feature-income__text,
.feature-income__number {
  display: block;
  color: #fff;
}

.feature-income__text {
  margin-top: 14px;
  font-size: 1.2rem;
  line-height: 1.25;
}

.feature-income__number {
  margin-top: 6px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.39;
}

/* ============================ Feature (2) ============================  */
.feature-media.feature-2 {
  position: relative;
  padding-right: 128px;
}

.feature__img-block {
  display: flex;
  align-items: flex-end;
  padding-left: 29px;
}

.feature__img {
  width: 413px;
  height: 600px;
  object-fit: cover;
}

.feature__img-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.feature__icon--money {
  position: absolute;
  bottom: 222px;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: var(--primary-purple);
}

.feature-payment {
  position: absolute;
  bottom: 57px;
  right: 26px;
  z-index: 1;
  border-radius: 4px;
  padding: 28px;
  width: 281px;
  height: 220px;
  background: #fff;
  box-shadow: 0px 44px 48px 0px #0000001a;
}

.feature-payment__inner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.feature-payment__title {
  display: block;
  color: var(--primary-black);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.feature-payment__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 18px;
}

.feature-payment__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 63px;
  height: 48px;
  background: #f2f2fa;
  cursor: pointer;
  transition: all 0.2s;
}

.feature-payment__item.more {
  background: #f9ea63;
}

.feature-payment__item:hover {
  opacity: 0.8;
}

/* ============================ Feedback ============================  */
.feedback {
  margin-top: 160px;
}

.feedback__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__heading {
  margin-top: 12px;
}

.feedback__desc {
  margin-top: 18px;
  width: 435px;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
}

.feedback__list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  margin-top: 70px;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  row-gap: 96px;
  align-items: center;
}

.feedback-item__bubble-block {
  position: relative;
  padding: 42px 28px;
  border: 1px solid #dfe2e8;
  border-radius: 8px;
  width: 570px;
  height: 256px;
  background: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.feedback-item__bubble-block--shape {
  position: absolute;
  left: 52%;
  bottom: -85px;
  width: 70px;
  height: 70px;
  border-radius: 0 0 8px 0;
  border-bottom: 1px solid #dfe2e8;
  border-right: 1px solid #dfe2e8;
  background: #fff;
  rotate: 45deg;
  transform: translateX(-70px);
  transition: all 0.2s;
}

.feedback-item__bubble-block:hover {
  filter: drop-shadow(0px 22px 54px #00000012);
  border-color: transparent;
}

.feedback-item__bubble-block:hover .feedback-item__bubble-block--shape {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.feedback-item__speech {
  display: inline-block;
  width: 514px;
  color: var(--text-color);
  font-size: 2.2rem;
  font-style: italic;
  line-height: 1.54;
  user-select: none;
}

.feedback-item__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-item__avatar-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  overflow: hidden;
}

.feedback-item__avatar-block.item-1 {
  background: #4ab5e3;
}

.feedback-item__avatar-block.item-2 {
  background: #439f90;
}

.feedback-item__avatar {
  position: relative;
  width: 100%;
  height: calc(100% - 6.87px);
  object-fit: cover;
}

.feedback-item__name,
.feedback-item__occupation {
  display: block;
}

.feedback-item__name {
  margin-top: 20px;
  color: #070052;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.feedback-item__occupation {
  margin-top: 2px;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.67;
}

.feedback__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  margin-top: 38px;
}

.feedback__dot {
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
  background: transparent;
  transition: all 0.2s;
  cursor: pointer;
}

.feedback__dot.active {
  border-color: var(--primary-purple);
  background: var(--primary-purple);
}

.feedback__dot:hover:not(.active) {
  border-color: var(--primary-purple);
  background: var(--primary-purple);
}

/* ============================ Feedback ============================  */
.blog {
  margin-top: 60px;
  padding-top: 100px;
}

.blog__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__heading {
  margin-top: 6px;
}

.blog__desc {
  width: 435px;
  margin-top: 18px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blog__cta {
  min-width: 123px;
}

.blog__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 30px;
}

.blog-item {
  padding: 28px;
  border: 1px solid #dfe2e8;
  border-radius: 12px;
  width: 570px;
  height: 216px;
  transition: all 0.2s;
}

.blog-item:hover {
  border-color: transparent;
  box-shadow: 0px 20px 50px 0px #00000012;
}

.blog-item__inner {
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.blog-item__img-block {
  border-radius: 12px;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.blog-item__img {
  width: 100%;
  height: 100%;
}

.blog-item__info {
  display: flex;
  flex-direction: column;
}

.blog-item__date {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.71;
  user-select: none;
}

.blog-item__title {
  margin-top: 10px;
  color: var(--primary-black);
  width: 332px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.blog-item__title a:hover {
  text-decoration: underline;
}

.blog-item__more {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.625;
  transition: all 0.2s;
}

.blog-item__more:hover {
  color: var(--primary-purple);
  text-decoration: underline;
}

/* ============================ Install ============================  */
.install {
  margin-top: 160px;
}

.install__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  border-radius: 24px;
  background: #7264d6;
  text-align: center;
}

.install__sub-title {
  color: #fff;
}

.install__sub-title--line {
  background: #fff;
}

.install__heading {
  margin-top: 12px;
  color: #fff;
}

.install__desc {
  margin-top: 18px;
  color: #fff;
  width: 435px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.install__wrap {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 38px;
}

.install__btn {
  padding: 18px 32px 18px 31px;
  border-radius: 6px;
  width: 182px;
  height: 64px;
  color: var(--primary-purple);
  background: #fff;
}

.install__decor {
  position: absolute;
}

.install__decor.decor-1 {
  top: 49px;
  left: 112px;
}

.install__decor.decor-2 {
  top: 49px;
  right: 112px;
}

.install__decor.decor-3 {
  bottom: 49px;
  left: 166px;
}

.install__decor.decor-4 {
  bottom: 49px;
  right: 166px;
}

/* ============================ Footer ============================  */
.footer {
  margin-top: 100px;
  background: #fafbff;
}

.footer__inner {
  padding: 100px 0 28px;
}

.footer__row {
  display: flex;
  column-gap: 163px;
}

.footer-column__title,
.footer__label {
  color: var(--primary-black);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.footer__list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footer__link,
.footer__address,
.footer__input,
.footer__input::placeholder,
.footer__contact,
.footer__copyright {
  color: var(--primary-gray);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.footer__input,
.footer__input::placeholder {
  color: #8e919a;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__address {
  margin-top: 24px;
  width: 371px;
}

.footer__form {
  position: relative;
  margin-top: 48px;
}

.footer__label {
  display: block;
}

.footer__form-group {
  margin-top: 24px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.footer__input {
  padding: 12px;
  border: 1px solid #8e919a;
  border-radius: 6px;
  outline: none;
  width: 270px;
  height: 52px;
}

.footer__submit {
  --height: 52px;
  border-radius: 6px;
  min-width: 113px;
  background: var(--primary-purple);
}

.footer__form:has(:invalid) .footer__submit {
  opacity: 0.5;
  pointer-events: none;
}

.footer__form:has(:invalid:not(:placeholder-shown)) .footer__error {
  display: block;
}

.footer__row--bottom {
  margin-top: 70px;
  column-gap: 100px;
}

.footer__contact {
  text-decoration: underline;
}

.footer__copyright {
  padding: 28px 0;
  color: #fff;
  background: var(--primary-purple);
  text-align: center;
}

.footer__error {
  position: absolute;
  display: none;
  font-size: 1.6rem;
  color: var(--primary-red);
  font-weight: 500;
  bottom: -34px;
}
